[2019-08-21 19:34] blackfalcon opened #2 "Duplicate selectors - classic checkmark"
There are duplicate selectors

[code]

[2019-11-18 19:29] c-n-d opened #6 "Generate sass based on the icon json file"
# Issue report

## Expected Behavior
1. [src/_orion-icons.scss](https://github.com/AlaskaAirlines/OrionIcons/blob/master/src/_orion-icons.scss) should not require manual edits to support new icons.

## Current Behavior
1. [src/_orion-icons.scss](https://github.com/AlaskaAirlines/OrionIcons/blob/master/src/_orion-icons.scss) does not include all icons and requires manual changes to support new icon

[2019-11-18 19:54] blackfalcon opened #8 "Refactor svgLint"
# Issue report

The current svgLint is focused only on doing a pre-check of the SVGs prior to running the build.

There is also an issue with that the svgLint doesn't appear to be running with the pre-commit and is out of date.

Last, there should be a refactor that ensures that the output of the SVGs from the build are validated as well.

[2019-11-19 23:39] Kiricon opened #11 "Issues with new icons"
# Issue report

The following items have been identified as issues to correct with the new icons added to the library resource.

## Expected Behavior

Icons should appear on the web site as design intended.

## Current Behavior

There are issues with various icons that are inconsistent with the design intent.

## Issues:

The following icons were produced incorrectly. They should be filled but wit

[2019-12-11 15:53] blackfalcon opened #12 "Add new Alert icons"
# Update requested

See the attached file. New update request to update the ALERT icons in the library.

[Icons.zip](https://github.com/AlaskaAirlines/OrionIcons/files/3951254/Icons.zip)

[2020-01-10 18:39] #11 closed

[2020-01-10 18:40] blackfalcon commented on #8
Prepare icons for Auro #14

[2020-01-10 18:41] #8 closed

[2020-01-10 18:41] blackfalcon commented on #6
Prepare icons for Auro #14

[2020-01-10 18:41] #6 closed

[2020-01-10 18:41] ecommerceUXdesign commented on #11
:tada: This issue has been resolved in version 2.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@alaskaairux/orion-icons)
- [GitHub release](https://github.com/AlaskaAirlines/OrionIcons/releases/tag/v2.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-20 22:50] ecommerceUXdesign commented on #12
Fix icons #18

[2020-02-20 22:50] #12 closed

[2020-02-25 01:39] blackfalcon opened #19 "Remove Style Dictionary from project"
# General Support Request
Style dictionary is no longer needed as there is not enough of a reason to support it any longer. Styles have been reduced to a standard list.

[2020-02-27 21:38] blackfalcon opened #20 "Rename repo"
# General Support Request
Update the repo name to remove references to Orion and simplify to reference Icons.

When updating the repo name, be sure to update all link references.

[2020-03-09 19:31] thesuzy opened #21 "One way and round trip icons"
# Add new icon(s) to the library

1. one-way arrows icon
2. round trip arrows icon

## Icon art

- [x] Yes
- [ ] No

- [x] Yes
- [ ] No

- [x] Yes
- [ ] No

### Attach exported SVG files to this issue

[trip_arrows.zip](https://github.com/AlaskaAirlines/OrionIcons/files/4308573/trip_arrows.zip)

See the options below for attaching a file to this request.

[2020-03-12 23:17] znewton opened #22 "2.0.0 -> 2.0.1 includes breaking change"
**Describe the bug**
When upgrading from orion-icons `2.0.0` to `2.1.1` (a minor upgrade) I ran into an error on build stating that `~@alaskaairux/orion-icons/dist/tokens/TokenVariables` no longer exists.
![image](https://user-images.githubusercontent.com/14362200/76575404-3d933000-647c-11ea-9758-be3e6a1fee00.png)
Upon further investigation, I found that this breaking change was introduced in `2.0

[2020-03-13 16:07] blackfalcon commented on #22
This issue needs to be researched and documented as to exactly what lead to this type of release. What was released and when and how can this be done better.

A clear takeaway is that the Auro team needs to get better at coupled releases where there is a clear dependency.

In this case, the dependency that was lacking was that the new Icons repo did not alert the user that the Tokens repo needed t

[2020-03-16 17:55] dlesaca opened #23 "Grammatical error in "Adding Icons""
**Describe the bug**
There is a grammatical error in Step 2 of "Adding Icons", it reads:

[2020-03-16 23:56] #21 closed

[2020-03-16 23:57] ecommerceUXdesign commented on #21
:tada: This issue has been resolved in version 2.1.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@alaskaairux/orion-icons)
- [GitHub release](https://github.com/AlaskaAirlines/OrionIcons/releases/tag/v2.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-24 19:57] sryckman opened #26 "Global language and Wifi disabled icons"
# Add new icon(s) to the library

1. Global language globe icon
2. Wifi unavailable/missing icon

## Icon art

- [x] Yes
- [ ] No

- [x] Yes
- [ ] No

- [x] Yes
- [ ] No

### Attach exported SVG files to this issue

[globe and wifi disabled.zip](https://github.com/AlaskaAirlines/OrionIcons/files/4377390/globe.and.wifi.disabled.zip)

[globe and wifi disabled.zip](https://github.com/AlaskaAirlines/O

[2020-03-25 00:39] blackfalcon opened #28 "Functionality is confusing"
# General Support Request

The issue is that due to the complexity of the primaryBuild.js there are things falling through the cracks that are not making sense.

## Support request

* line #46; this should not be a hard value in the script, but use data
* line #54; why is this here? This coupled with the inconsistent entering of SVG data makes this hard to track down potential issues. There is mag

[2020-03-25 17:57] #26 closed

[2020-03-25 17:59] ecommerceUXdesign commented on #26
:tada: This issue has been resolved in version 2.1.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@alaskaairux/orion-icons)
- [GitHub release](https://github.com/AlaskaAirlines/OrionIcons/releases/tag/v2.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-03 19:06] ecommerceUXdesign commented on #19
:tada: This issue has been resolved in version 2.1.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@alaskaairux/orion-icons/v/2.1.4)
- [GitHub release](https://github.com/AlaskaAirlines/OrionIcons/releases/tag/v2.1.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-03 19:06] ecommerceUXdesign commented on #28
:tada: This issue has been resolved in version 2.1.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@alaskaairux/orion-icons/v/2.1.4)
- [GitHub release](https://github.com/AlaskaAirlines/OrionIcons/releases/tag/v2.1.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-04 01:17] blackfalcon commented on #22
This issue was reviewed and steps are being taken to ensure that this never happens again.

[2020-04-04 01:17] #22 closed

[2020-04-06 17:08] #23 closed

[2020-04-06 20:51] sryckman opened #30 "Food and drink icon"
# Add new icon(s) to the library

1. food and drink

## Icon art

- [x] Yes
- [ ] No

- [x] Yes

- [ ] No

- [x] Yes
- [ ] No

### Attach exported SVG files to this issue
[food-and-drink.svg.zip](https://github.com/AlaskaAirlines/OrionIcons/files/4440736/food-and-drink.svg.zip)

See the options below for attaching a file to this request.

[2020-04-09 21:32] #20 closed

[2020-04-15 22:07] blackfalcon commented on #30
in-flight category

[2020-04-16 23:54] #30 closed

[2020-07-02 23:30] blackfalcon opened #34 "External link icon description is not correct"
In this following code, we are making a statement that is incorrect.

https://github.com/AlaskaAirlines/Icons/blob/2d46a1e7970f707224978aa6686c38ecac6e3ddb/src/data/icons.json#L237

According to the [specification](https://www.w3.org/TR/WCAG20-TECHS/G201.html), the use of this icon is not only for external links.

The content for this icon should be revised to accurately speak to its intent.

It i

[2020-07-13 21:03] blackfalcon opened #37 "Airline Logos"
# Add new icon(s) to the library

In order to serve many of the dev teams, a new section for Airline Logos in SVG format is requested.

## Icon art

- [X] Yes
- [ ] No

- [ ] Yes
- [X] No

These are logos provided by individual airlines. Post this update we will look at optimizing to the Auro standard.

[2020-07-14 19:43] gusnaughton commented on #37
Something I didn't mention before is for accessibility support, we need to add a
```<title></title>``` as a child of ```<svg>```. I can add this once you push your branch.

[2020-07-14 20:49] blackfalcon commented on #37
@gusnaughton the processed SVGs from this lib address a11y, here is an example

[code]

[2020-07-14 20:49] #37 closed

[2020-07-22 17:24] blackfalcon commented on #34
## Links to New Windows, Pop-ups, Other Frames, or External Web Sites

There is much debate about the merits of links that open in new windows, pop-up windows, or other frames. Some people would like to ban them entirely. Others concede that they can be appropriate at times, but nearly everyone agrees that users ought to be alerted when the link does not open in the current window or frame. The ac

[2020-07-22 19:04] blackfalcon commented on #34
Another example found is from
https://www.ahrq.gov/externaldisclaimer.html

This disclaimer only addresses the issue of leaving this Federal Government Web site, but uses a similar icon that is used with opening a new window.

[2020-07-22 19:06] blackfalcon commented on #34
It might be interesting to note that https://www.deque.com/axe/ a leader in a11y has links on this page that take the user to a new domain with no disclaimer at all that this will happen.

Example: `Web Testing API` goes to https://github.com/dequelabs/axe-core

[2020-07-22 19:12] blackfalcon commented on #34
https://www.cdc.gov/other/disclaimer.html

Here is a well-documented position from the CDC. There use is very interesting and something that I would consider best practice.

The same icon is used for any case where the user will be redirected to a URL other than the domain they are currently on. But, in a case where the action will open a new tab there is an Exit Disclaimer dialog that the user wi

[2020-09-21 23:33] tjgrist opened #41 "Auro radio Installation docs are incorrect"
**Describe the bug**
The installation instructions [here](https://auro.alaskaair.com/components/auro/radio/install) are incorrect. The instructions reference auro-checkbox under the sections for "**Define dependency in project component**", "**Install bundled assets from CDN**", and "**Testing**".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [auro radio docs](https://auro.alaskaair.

[2020-09-21 23:42] tjgrist commented on #41
I filed this under the wrong repo, so I moved it to the auro-radio repo: https://github.com/AlaskaAirlines/auro-radio/issues/2

[2020-09-21 23:42] #41 closed

[2020-10-07 19:18] diana-wang opened #42 "Alaska logo icon that can change colors"
**Is your feature request related to a problem? Please describe.**
I am hoping to add an alaska logo (like [logos/logo-AS.svg](https://github.com/AlaskaAirlines/Icons/blob/master/src/icons/logos/logo-AS.svg)) to a page with a dark background.
![image](https://user-images.githubusercontent.com/11242098/95376110-702bcc80-0895-11eb-86de-721deb10007f.png)

Unfortunately, logos/logo-AS.svg has a fill c

[2020-10-07 19:33] ecommerceUXdesign commented on #42
Heaving read through this, I see where the opportunity is but having a LIGHT and DARK version of the logo is unnecessary. I also see the potential for misuse in regards to `currentColor`.

A more plausible idea is to update auro-icon with access to a color independent SVG that is not available to the general icon library user.

This will offer flexibility to users, but constrain options.

[2020-10-07 19:40] ecommerceUXdesign commented on #42
I'd also argue that the placement of company logos in the icon lib was a mistake. This was a decision driven out of an immediate need and the thought process was short circuited. So knowing this, this makes the argument for having the Alaska logo with it's options be a feature of the auro-icon component more palatable.

Currently via other options, the auro-icon component allows for color and size

[2020-10-07 20:01] ecommerceUXdesign commented on #42
The scope I am proposing is that we make the Alaska Logo a special property of the auro-icon lib. Then we can control the features there.

The additional scope of addressing the placement of logos in the Icon library is another issue to be addressed later.

[2020-10-07 20:36] diana-wang commented on #42
I agree that putting it in auro-icon is our best option.

This could probably be discussed further in that repo, but to clarify, considering that auro-icon already contains an attributes like emphasis, accent, and onDark, would we want to simply make those attribute usable with the alaska logo?

e.g.
[code]

Or would this be something entirely separate from that? Not sure I entirely understand wha

[2020-10-07 21:45] blackfalcon commented on #42
My thought is that the feature would be something like

[code]

This then would step away from the normal reference to the icon library and point to a special feature of the component. This can also be done in such a way where the color applications would not take effect either.

The standard size restrictions would be removed from the icons as well allowing for the size of the logo to adjusted pe

[2020-10-08 19:23] clockeby opened #45 "New icons for inflight amenities"
## Is your feature request related to a problem? Please describe.
We'd like the seat map to better market inflight experience upgrades to guests in a way that is easily scannable when scrolling through the full plane layout. Many amenities are already well represented by Auro inflight icons but could be improved by adding new icons to capture key differences in the experiences.

## Describe the so

[2020-10-09 18:10] erikalanghauser opened #43 "Lap Infant Icon"
# Add new icon(s) to the library
| name | category | description |
| lap infant | interface | icon to enhance the interface by indicating a lap infant or lap infant-related information |

## Icon art
Here is an example of a previously created lap infant icon that was recommended for Orion, but never officially approved or added to the icon library. Something like this would work for our lap infant

[2020-10-12 20:23] sryckman commented on #45
@clockeby Are the placeholder icons from a specific location (noun project, other airline app)? Would like to know to avoid a scenario where I rip off their style vs exploring something with more differentiation.

@blackfalcon where on this page do I find info about when these are needed by?

[2020-10-12 20:35] blackfalcon commented on #45
@sryckman I have no information on any deadline or expectation. What I have is in this ticket.

[2020-10-13 20:39] clockeby commented on #45
@sryckman I've updated the mockup to use the placeholder icons you provided. I was able to edit them to match the existing Auro icons in size and stroke weight.

[2020-10-14 15:53] blackfalcon commented on #45
@sryckman and @clockeby what is the request here? Are there new icons coming to be added to the lib or is this issues closed?

[2020-10-14 19:54] clockeby commented on #45
Correct on the first part, the request is to add new icons to the library.

[2020-10-23 22:54] blackfalcon commented on #45
If there are new icons to be added, please ...

1. add them to the UI Kit
1. Export correct size SVGs
1. Attach to this issue to be included or submit a PR with the added icons to the lib

@sryckman @clockeby

[2020-11-02 21:55] clockeby commented on #45
Update: I've added the icons to a new branch in the UI Kit. I'm awaiting a review with Vidal and/or Suzanne. Once the UI Kit versions are approved I'll export the SVGs.

[2020-11-13 19:33] blackfalcon commented on #45
@clockeby or @sryckman what is the status of this work? Are there icons to add or ... ?

[2020-11-13 19:34] blackfalcon commented on #45
Status moved to BLOCKED as there have been no updates on design requests for 11 days.

[2020-11-13 22:39] clockeby commented on #45
Thanks for the reminder! I've been occupied with porting assets info Figma. I'll at the SVGs and submit a pull request.

[2020-12-04 01:36] gusnaughton opened #51 "OAL Logos Improperly Scaling"
**Describe the bug**
Various partner airlines are not scaling as expected

**To Reproduce**
Steps to reproduce the behavior:
https://components.alaskaair.com/catelog/demo/airline-helper
See all logos that are improperly displayed. Expecting these SVGs to scale out to the edges of the container.

**Expected behavior**
SVG fills container
![image](https://user-images.githubusercontent.com/7005799/10

[2020-12-07 17:12] blackfalcon commented on #51
Issue accidentally associated with unrelated PR.

[2020-12-07 18:00] blackfalcon commented on #51
Here is what I have come up with in regards to this issue. Here is a demo page of all the logos http://ota-logo.surge.sh/ota

In your code you are brute-forcing the width and the height of the SVG and that's not going to work. Not any of these SVGs have the same viewBox dimensions. Because of that, there is no way that you can do what you are trying to do.

Notice in the demo I am only restricting

[2020-12-10 00:16] blackfalcon commented on #51
This issue has been taken up by the design team to normalize the OTA logos.

[2020-12-11 18:17] #45 closed

[2020-12-11 18:34] sryckman commented on #45
@clockeby Are they all in here?:
https://www.figma.com/file/lZwTWQqadBc84DJcZ26RU7/Auro-icons?node-id=0%3A1

[2020-12-11 18:44] clockeby commented on #45
They are. They've been added to both libraries.

[2020-12-11 19:39] sryckman commented on #45
Sweet, thanks! Sorry for the question, I couldn't spot the wine glass at first :D

[2020-12-11 20:56] clockeby commented on #45
No worries!

[2020-12-16 01:21] blackfalcon commented on #43
@erikalanghauser can you export the SVG from Sketch and attach it to this issue? Thanks!

[2021-01-06 21:14] blackfalcon commented on #43
@erikalanghauser what is the status of this icon?

[2021-01-06 23:47] erikalanghauser commented on #43
Here is the compressed svg.
[lap-infant.svg.zip](https://github.com/AlaskaAirlines/Icons/files/5778717/lap-infant.svg.zip)

[2021-01-07 05:17] blackfalcon commented on #43
@erikalanghauser can I get a new export of this icon. The SVG here is cut to `0 0 13 18`, and the [standard set](https://auro.alaskaair.com/icons/overview) specifies `0 0 25 25`.

If there are issues with this, please consult with @sryckman

Here is a screen shot of how this doesn't fit the preferred layout grid.

<img width="361" alt="Screen Shot 2021-01-06 at 9 16 00 PM" src="https://user-images

[2021-01-11 22:11] blackfalcon commented on #51
I am assuming that the solution to this logo issue is the new tail icons? If that is so, am I to assume that the logos can be removed from the lib?

[2021-01-11 22:13] gusnaughton commented on #51
That is the solution, but we will be in production with the fullsize logos on the matrix page (not the details modal like we discussed) for several months. I will let you know once we retire that old experience so we can remove it here.

[2021-01-11 22:29] blackfalcon commented on #51
If that is the case, I am going to close this issue as there is no point in keeping this open for months. When the time comes to remove the legacy logos, we can create a new issue at that time.

[2021-01-11 22:29] #51 closed

[2021-02-01 19:46] littleninja opened #62 "auro-icon: add oneworld icon"
## Is your feature request related to a problem? Please describe.
Yay oneworld integration!✈️ Would having a oneworld icon help teams display it consistently and performantly (CDN) across the site?

## Describe the solution you'd like
- Separate support: Add oneworld icon, either `<auro-oneworld>` or `<auro-icon oneworld>` for when the icons need to be rendered separate (link to ascom and link to

[2021-02-02 01:30] erikalanghauser commented on #43
Uploading new SVG meeting Auro guidelines with Suze's tweaks.

[lap-infant.svg.zip](https://github.com/AlaskaAirlines/Icons/files/5908029/lap-infant.svg.zip)

[2021-02-02 04:01] #43 closed

[2021-02-02 18:30] gusnaughton opened #61 "Global Partners, some IET carriers"
[Archive.zip](https://github.com/AlaskaAirlines/Icons/files/5913541/Archive.zip)

# Add new icon(s) to the library

| name | category | description |
|---|---|---|
| tail-EI | logo | Aer Lingus |
| tail-DE | logo | Condor |
| tail-LY | logo | El Al |
| tail-EK | logo | Emirates |
| tail-HU | logo | Hainan Airlines |
| tail-FI | logo | Icelandair |
| tail-KE | logo | Korean Air |
| tail-LA | logo |

[2021-02-02 18:31] gusnaughton commented on #61
@vidalmenAS has this already been added to the UiKit?

[2021-02-02 20:48] #62 closed

[2021-02-04 18:26] #61 closed

[2021-02-05 23:54] Eliza-Huang opened #65 "auro-avatar: airline code incorrect for Finnair tail"
## Describe the bug
tail-FI.svg should be renamed to tail-AY.svg since the airline code for Finnair is AY (Icelandair has the airline code FI).

## To Reproduce
Steps to reproduce the behavior:
1. Click on the tail-FI.svg file to see the Finnair tail

## Expected behavior
tail-AY.svg should contain the Finnair tail.

[2021-02-08 06:31] blackfalcon commented on #65
Issues resolved.

<img width="259" alt="Screen Shot 2021-02-07 at 10 31 21 PM" src="https://user-images.githubusercontent.com/181089/107183784-40501b00-6994-11eb-8b46-c48fd90a251e.png">

[2021-02-08 06:32] #65 closed

[2021-02-08 06:35] ecommerceUXdesign commented on #65
:tada: This issue has been resolved in version 4.4.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@alaskaairux/icons/v/4.4.2)
- [GitHub release](https://github.com/AlaskaAirlines/Icons/releases/tag/v4.4.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-11 03:29] blackfalcon commented on #43
Updated to correct version

<img width="150" alt="Screen Shot 2021-02-10 at 7 27 27 PM" src="https://user-images.githubusercontent.com/181089/107599699-3ae21300-6bd6-11eb-9e5b-2fe924871037.png">

[2021-03-01 20:45] gusnaughton opened #66 "Delta Tail Logo"
# Add new icon(s) to the library

| name | category | description |
|---|---|---|
| tail-DL | logo | Delta Air Lines |

## Icon art

- [x] Yes
- [ ] No

- [x] Yes
- [ ] No

- [ ] Yes
- [ ] No

### Attach exported SVG files to this issue

See the options below for attaching a file to this request.

[2021-03-01 20:46] gusnaughton commented on #66
@vidalmenAS  has this been added to the UIKit?

[2021-03-01 20:51] gusnaughton commented on #66
[DELTA.svg.zip](https://github.com/AlaskaAirlines/Icons/files/6064388/DELTA.svg.zip)

[2021-03-01 20:52] vidalmenAS commented on #66
@gusnaughton no (at least not yet) - this hasn't been approved yet for widespread usage beyond a couple of exceptions including flight details but when there is more definition we may add.

[2021-03-01 23:53] blackfalcon commented on #66
I’m confused as to the state of things. Can this tail be added to the lib?

[2021-03-02 00:03] vidalmenAS commented on #66
@blackfalcon lib is fine my comment to gus was only about the UI Kit on figma. We've not added any tails as symbols yet on the design side.

[2021-03-02 16:34] #66 closed

[2021-03-12 04:29] blackfalcon commented on #34
This issue is tied directly to https://github.com/AlaskaAirlines/auro-hyperlink/issues/44

[2021-04-06 16:32] blackfalcon opened #72 "auro-icon: custom icon lib endpoint"
**Is your feature request related to a problem? Please describe.**

Allow for a user to define the location of icon lib. With all the discussion around issues of the auro-icon element and the CDN, the idea came up to allow users to inject the location of preference when using the custom element.

**Describe the solution you'd like**

In the auro-icon custom element, add a new attribute for `librar

[2021-04-26 22:09] KyleJones2 opened #73 "Sun Icon"
![sun-1](https://user-images.githubusercontent.com/80366631/116157131-473c1f00-a6a1-11eb-94bf-a59507d96f43.png)
![sun-2](https://user-images.githubusercontent.com/80366631/116157132-47d4b580-a6a1-11eb-998f-d509cad43652.png)
![sun](https://user-images.githubusercontent.com/80366631/116157134-47d4b580-a6a1-11eb-9d55-0d2c01bf5a95.png)

Sun icon: 16px x 16px, 24px x 24px, and 32px x 32px

Can you plea

[2021-04-26 22:15] KyleJones2 opened #74 "Health - Mask Icon"
# Add new icon(s) to the library

-  **Name:** Mask icon
- **Description:** The mask icon can be used when accompanying information related to Covid-19 when necessary. 3 sizes (16, 24, 32px)
- **Category**: Health

## Icon art

- [X] Yes
- [ ] No

- [X] Yes
- [ ] No

- [ ] Yes
- [X] No (I'm not sure what that is)

### Attach exported SVG files to this issue

See the options below for attaching a f

[2021-04-26 22:37] KyleJones2 opened #75 "Health - Air Icon"
# Add new icon(s) to the library

- **Name**: Air
- **Description**: Air icon in 3 sizes (16, 24, 32px)
- **Category**: Health

- [X] Yes
- [ ] No

- [X] Yes
- [ ] No

- [X] Yes
- [ ] No

### Attach exported SVG files to this issue

See the options below for attaching a file to this request.

![air-1](https://user-images.githubusercontent.com/80366631/116159220-b6ffd900-a6a4-11eb-8164-1ae417218a34

[2021-04-26 22:40] KyleJones2 opened #76 "Wine and sprits"
# Add new icon(s) to the library

- **Name**: Wine and spirits
- **Description**: 3 sizes of the Wine and spirit icon (16, 24, 32px)

- [X] Yes
- [ ] No

- [X] Yes
- [ ] No

- [X] Yes
- [ ] No

### Attach exported SVG files to this issue

See the options below for attaching a file to this request.

![wine-and-spirits-1](https://user-images.githubusercontent.com/80366631/116159793-b9166780-a6a5-11e

[2021-04-26 22:42] KyleJones2 opened #77 "Ancillaries - Hotel Icon"
# Add new icon(s) to the library

- **Name**: Ancillaries - Hotel
- **Description**: 3 sizes for the hotel icon (16, 24, 32px).
- **Category**: Ancillaries

- [X] Yes
- [ ] No

- [X] Yes
- [ ] No

- [X] Yes
- [ ] No

### Attach exported SVG files to this issue

See the options below for attaching a file to this request.

![hotel-1](https://user-images.githubusercontent.com/80366631/116159963-07c40

[2021-04-26 22:44] KyleJones2 opened #78 "Covid Test Icon"
# Add new icon(s) to the library

- **Name**: Covid Test
- **Description**: 3 sizes for the Covid test icon (16, 24, 32px)

- [X] Yes
- [ ] No

- [X] Yes
- [ ] No

- [X] Yes
- [ ] No

### Attach exported SVG files to this issue

See the options below for attaching a file to this request.

![covid_test-1](https://user-images.githubusercontent.com/80366631/116160079-3a6dfa00-a6a6-11eb-8b50-ba93b42d7

[2021-04-26 22:45] KyleJones2 opened #79 "Health - Health Symbol Icon"
# Add new icon(s) to the library

- **Name**: Health
- **Description**: 3 sizes for the Health icon (16, 24, 32px)
- - **Category**: Health

- [X] Yes
- [ ] No

- [X] Yes
- [ ] No

- [X] Yes
- [ ] No

### Attach exported SVG files to this issue

See the options below for attaching a file to this request.

![health-1](https://user-images.githubusercontent.com/80366631/116160185-66897b00-a6a6-11eb-8

[2021-04-26 22:47] KyleJones2 opened #80 "Clean Icon"
# Add new icon(s) to the library

- **Name**: Clean
- **Description**: 3 icons for the Clean icon (16, 24, 32px)

## Icon art

- [X] Yes
- [ ] No

- [X] Yes
- [ ] No

- [X] Yes
- [ ] No

### Attach exported SVG files to this issue

See the options below for attaching a file to this request.

![clean-1](https://user-images.githubusercontent.com/80366631/116160275-93d62900-a6a6-11eb-9474-4b6a6c7fdd1

[2021-04-27 18:00] #76 closed

[2021-04-27 18:00] KyleJones2 commented on #76
Already have this in our library.

[2021-04-27 18:07] #73 closed

[2021-04-27 18:07] KyleJones2 commented on #73
Blank

[2021-04-27 18:10] KyleJones2 opened #81 "Destination - Sun Icon"
# Add new icon(s) to the library

- **Name**: Sun
- **Description**: The sun icon is typically used around destination copy. 3 sizes available (16, 24, 32px)
- **Category**: Destination

## Icon art

- [X] Yes
- [ ] No

- [X] Yes
- [ ] No

- [X] Yes
- [ ] No

### Attach exported SVG files to this issue

See the options below for attaching a file to this request.

![sun-1](https://user-images.githu

[2021-04-30 17:39] KyleJones2 commented on #81
Tried leaving svg files, but GitHub doesn't support them. Please let me know if you need a different type of file other than the png. Thank you!

[2021-04-30 17:59] #74 closed

[2021-04-30 18:00] #75 closed

[2021-04-30 18:00] #77 closed

[2021-04-30 18:00] #79 closed

[2021-04-30 18:00] #81 closed

[2021-04-30 18:10] KyleJones2 opened #82 "Health and Destination Icons"
# Add new icon(s) to the library

**Name**: Sun, Hotel, Mask, Covid Test, Air, Health, Spray Bottle
**Category**: Destination and Health
**Description**: The Sun and Hotel icon are for destinations, while the Mask, Covid Test, Air, Health, and Spray Bottle are for the new Health section.

## Icon art

- [X] Yes
- [ ] No

- [X] Yes
- [ ] No

- [X] Yes
- [ ] No

### Attach exported SVG files to this

[2021-04-30 22:16] KaylaBlyton1 opened #83 "Flight Search Icons"
# Add new icons to the library

[Flight Search Icons.zip](https://github.com/AlaskaAirlines/Icons/files/6408301/Flight.Search.Icons.zip)

Category for all icons: Interface

Name: route-pending-government-approval
Context: A new route that is waiting for official government approval

Name: mixed-cabin-itinerary
Context: A guest will be in different cabins for different segments of the trip

Name: d

[2021-05-14 21:05] KaylaBlyton1 commented on #83
@blackfalcon - I will have icon updates by end of next week, 5/21

[2021-05-28 17:45] sryckman opened #85 "food and drink icon should not have fill"
Auro docsite shows food and drink icon with filled spoon; developed work also shows fill. Icon should be stroke only, no fill on spoon.

Please pull SVG from this file:
https://www.figma.com/file/lZwTWQqadBc84DJcZ26RU7/Auro-Icons?node-id=7%3A22

[2021-06-01 16:17] KaylaBlyton1 commented on #83
Hi @blackfalcon - Updated icons are here for you!

Attached you'll find the updated standby icons, as well as EazyBiz icons (never submitted previously). Please remove the previous set of standby icons I shared with you.

The EasyBiz Icons will be in a new category (EasyBiz). I am happy to submit a new issue for these if needed. Just let me know if that is preferred!
[Updated Standby Icons.zip](ht

[2021-06-02 18:36] blackfalcon commented on #85
@sryckman

![Screen Shot 2021-06-02 at 11 35 20 AM](https://user-images.githubusercontent.com/181089/120534395-9f4bfc80-c396-11eb-8b0a-9488999260ba.png)

If an exported SVG could be attached to this issue, that would be greatly appreciated.

[2021-06-15 19:25] blackfalcon commented on #34
https://github.com/AlaskaAirlines/auro-hyperlink/pull/64

[2021-06-18 17:17] #83 closed

[2021-06-18 17:37] blackfalcon commented on #82
@KyleJones2 added the new icons. In the description you reference a `spray bottle`. This was NOT in the zip folder you attached.

Also, I need a description per icon please, for a11y. Thanks!

![Screen Shot 2021-06-18 at 10 32 27 AM](https://user-images.githubusercontent.com/181089/122598066-2cdb4d80-d021-11eb-804f-84006bc4b07d.png)

[2021-06-21 19:54] KyleJones2 commented on #82
[Health.zip](https://github.com/AlaskaAirlines/Icons/files/6689128/Health.zip)

@blackfalcon Attached is the Spray Bottle, thank you for flagging that.

What kind of description is needed for each icon?

[2021-06-21 20:09] blackfalcon commented on #82
Added. Just need all the icon descriptions.

![Screen Shot 2021-06-21 at 1 07 30 PM](https://user-images.githubusercontent.com/181089/122821622-f0625880-d291-11eb-959a-86c0b5f7232d.png)

[2021-06-26 22:02] blackfalcon commented on #34
This issue was addressed with this release https://github.com/AlaskaAirlines/auro-hyperlink/pull/64

[2021-06-26 22:02] #34 closed

[2021-06-29 18:21] #82 closed

[2021-07-13 19:33] KaylaBlyton1 opened #91 "Update categorization of new Interface icons"
# General Support Request

## Support request

A portion of icons (listed in the next section below) have been updated in Figma components to be in a sub-category under Interface, called "Interface/Sell". This means that the categorization is now different between designers and developers.

## Possible Solution

Recategorize the icons for developers to match the new labeling:

Interface/Sell/route

[2021-07-13 21:56] blackfalcon commented on #91
I see the reasoning behind the decision to sub-categorize, but I am hesitant to make this change in the Auro Icons repo as this sub-category maps too closely to a part of the business.

**Interface** is a very broad stroke, I'd argue that there is a better opportunity to break up this large grouping into groups that are not mapped directly to parts of the business.

[2021-07-13 22:18] KaylaBlyton1 commented on #91
@blackfalcon - that is a good point (about breaking up Interface into smaller groups). To make sure I'm understanding, do you mean that the "Sell" name is too specific to the Sell team? In that case, I wonder if "shopping" or something similar would be best.

There are two ways I could see Interface being segmented:
1. Interface remains as the umbrella category, with subcategories within it that h

[2021-07-14 00:43] blackfalcon commented on #91
I vote for a compromise. There are some icons in there that are pretty generic where `interface` makes sense.

One thing that we need to be aware of, this will cause a BREAKING CHANGE as there is a dependency on the category when requesting an icon. Making this update will require users to update their references.

[2021-07-16 17:37] KaylaBlyton1 commented on #91
I'm on board with a compromise. :)

When you say "Making this update will require users to update their references" - do you mean developers/designers who need to locate the icon? Or actual guests?

[2021-07-19 17:30] arrenkhl opened #92 "Colored notification-active"
# Add new icon(s) to the library

| name | category | description |
|---|---|---|
|  notification-active  | interface | this icon is a colored version of the current notification-active icon to be used for the new search experience alert |

## Icon art

- [X] Yes
- [ ] No

- [X] Yes
- [ ] No

- [x] Yes
- [ ] No

### Attach exported SVG files to this issue
[notification-active.zip](https://github.c

[2021-07-19 17:32] gusnaughton commented on #92
Does this icon need to be moved into the fullColor/ namespace in the iconography library? It has a monocolor counterpart of the same design already in ADS.

[2021-07-19 18:16] gusnaughton opened #93 "auro-icon: Long text shrinks SVG"
## Describe the bug
When long text is provided to the auro-icon element, the icon shrinks in certain placements:

## To Reproduce
[code]

## Expected behavior
I expect the icon to remain fixed size and the text to wrap in its div container.

## Screenshots
![image](https://user-images.githubusercontent.com/7005799/126207468-06d2c17b-884a-4858-b361-874d63ae930b.png)
## Desktop (please complete the

[2021-07-19 23:24] #93 closed

[2021-07-20 03:48] blackfalcon commented on #91
Developers.

[2021-07-20 04:11] blackfalcon commented on #92
I am assuming that this request is to replace the current mono-color version.

[2021-07-20 05:27] arrenkhl commented on #92
Yes, if that is alright to do.

[2021-07-22 01:13] blackfalcon commented on #85
@sryckman can you please export the SVG and attach to this issue? I struggled to do this correctly and need help. -- thanks!

[2021-07-27 17:02] #92 closed

[2021-08-09 19:28] KaylaBlyton1 commented on #91
@blackfalcon - This convo fell off my radar, apologies.

Got it, thank you for clarifying. We have made the update on the Figma side - lmk if I can help with this update any further.

[2021-08-10 00:47] blackfalcon commented on #91
Can you provide a link to the updates in Figma? I am not sure what the engineering expectation is now.

[2021-08-13 18:29] KaylaBlyton1 commented on #91
Sure! Here is how we categorized it: https://www.figma.com/file/lZwTWQqadBc84DJcZ26RU7/Auro-Icons?node-id=0%3A1

[2021-08-16 20:06] blackfalcon commented on #91
One thing we may consider that make this an easier transition. We can list an icon in multiple categories/sub-folders at the same time.

So, this will allow us to deprecate the legacy location and move users to the new location and not cause a harsh breaking change.

But, while I am open to a reorg, I am not a fan of creating a category that is directly tied to a part of the business, e.g. Sell. I

[2021-10-28 17:51] KyleJones2 opened #100 "Gift icon"
# Add new icon(s) to the library

| name | category | description |
|---|---|---|
| Gift  | Shop | Icon used when a guest receives or has earned a gift such as a complimentary food item |

## Icon art

- [x] Yes
- [ ] No

- [x] Yes
- [ ] No

- [ ] Yes
- [x] No

### Attach exported SVG files to this issue

![16](https://user-images.githubusercontent.com/80366631/139308680-5c8b0a56-a4fd-4f56-afdb-e7

[2021-11-02 17:35] #100 closed, assigned to blackfalcon

[2021-11-12 02:54] leeejune commented on #85
@blackfalcon Github doesn't support a svg file so I will send on teams.

[2021-11-12 19:14] blackfalcon commented on #85
Correct. It will work if you attach a ZIP file.

[2021-11-12 19:35] #85 closed

[2021-11-12 19:52] blackfalcon commented on #85
Icon has been updated and released. See update in the Auro doc site.

[2021-12-05 20:30] MattSidor opened #103 "Optimize SVG files for smaller file size"
**Is your feature request related to a problem? Please describe.**
SVG files generated by vector design programs such as Adobe Illustrator usually have a lot of room for optimization to reduce their file size. For example: they often contain unnecessary or redundant markup and metadata which can be removed; their vector paths can be recalculated to be simpler and more efficient while still tracing

[2021-12-06 03:13] blackfalcon commented on #103
I am open to this idea. If you have already worked out a POC, I am open to seeing a PR.

[2021-12-06 03:15] blackfalcon commented on #103
One thing I'd suggest, please do not turn on this optimization for all icons. The mono-color icons have already been optimized and we run a script to generate the final file from a data set.

But the full-color icons like the credit cards, I agree there is some room to make those better.

[2021-12-06 04:46] blackfalcon commented on #103
Ahh, discovered PR. It's a draft PR? Can you review the previous comment and let me know if we can do this?

[2021-12-07 01:24] MattSidor commented on #103
re: draft PR — my bad, I misunderstood the contribution guidelines on the Auro homepage. I've marked it as ready for review.

re: differentiating mono-color icons — There is still a significant file size reduction on these icons after running through SVGO, so with all due respect, I would argue that it's still beneficial to run the library against these. I also think that it is best for this libra

[2021-12-07 06:42] blackfalcon commented on #103
You are correct. "Once bitten, twice shy". The last time we tried to use an optimizer, it broke all the SVGs and they were unusable. I like how this is working in the generator pipeline.

Like I said, the mono-color icons are pre-optimized, but the option this brings is to flatten the SVG HTML to a single line which amazingly removes close to 50% of the weight.

This is a great issue and an awesom

[2021-12-07 17:53] MattSidor commented on #103
Thanks Dale!

This also does change the icon's vectors by reducing their precision and complexity; just wanted to make sure you were aware of this before approving. That is probably the bulk of the weight reduction you are seeing.

**Example – error.svg**

***Before:***
`
<svg viewBox="0 0 24 24" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="

[2021-12-07 17:59] blackfalcon commented on #103
Yeah, I saw that. I reviewed a handful of the icons in your branch locally. This is a solid optimization tool. Thanks for finding the thing I didn't know existed! OSS for the WIN!

[2021-12-27 22:28] MattSidor opened #105 "tail-AA icon excessively large"
**Describe the bug**
The `logos/tail-AA.svg` icon is excessively large (455 KB) and contains complex and hidden vectors which are not visible due to a masking layer effect. The next largest tail icon, `logos/tail-AS.svg` (Alaska), is only 34 KB.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the file in Adobe Illustrator or similar vector illustration program
2. Select the vectors to m

[2022-01-31 21:52] #91 closed

[2022-03-30 16:51] blackfalcon opened #106 "Remove logos and tails from this repo"
## Problem

This icons repo was asked to take on support of tails and logos when there was no better option. As a performance issue, we should remove these logos from this repo and repurpose them elsewhere.

## Proposal

Please review the following steps:

1. Create a new repo that mirrors that of the current Auro Icons repo and name it Auro Logos
2. Remove all support for Icons
3. Update all docu

[2022-03-30 18:45] blackfalcon commented on #105
Melissa Gesford
Wed 3/30/2022 11:44 AM
Hey!  Quick answer on this one.

No concerns on our side to simplify. If you can reduce and keep a bit of the gradient even better.

Thanks!

[2022-04-12 15:48] blackfalcon commented on #105
Message was sent to the design team to export an updated version of the SVG.

[2022-04-13 00:35] tombauer85 commented on #105
@blackfalcon please use the attached SVG in place of what is currently used for the **one**world page.
[tail-AA.svg.zip](https://github.com/AlaskaAirlines/Icons/files/8477299/tail-AA.svg.zip)

[2022-04-13 19:44] blackfalcon opened #111 "Update to latest version of Husky"
# General Support Request

The current pre-commit tools use a legacy version of Husky. This limits the running of the repo on Node 12 and makes it hard to update other supporting packages.

## Support request

Update to the latest version of Husky. This is not a simple package update as the 7.0 version of Husky has a very different API than the legacy 5.x version.

[2022-04-14 00:13] KaylaBlyton1 opened #113 "Upsell Icons"
# Add new icon(s) to the library

| name | category | description |
|---|---|---|
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  |

## Icon art

- [ ] Yes
- [ ] No

- [ ] Yes
- [ ] No

- [ ] Yes
- [ ] No

### Attach exported SVG files to this issue

See the options below for attaching a file to this request.

[2022-04-14 00:13] KaylaBlyton1 opened #114 "Upsell Icons"
# Add new icon(s) to the library

| name | category | description |
|---|---|---|
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  ||  |  |  |

## Icon art

- [ ] Yes
- [ ] No

- [ ] Yes
- [ ] No

- [ ] Yes
- [ ] No

### Attach exported SVG files to this issue

See the options below for attaching a file to this request.

[2022-04-14 00:13] KaylaBlyton1 opened #115 "Upsell Icons"
# Add new icon(s) to the library

| name | category | description |
|---|---|---|
|  rising-sun  | destination |  half sun with rays |
|  clock-filled  | interface  |  filled clock face with hands  |
| clock-stroke  |  interface  |  outline of clock with hands  |
|  pin-trip  |  interface |  variant of the pin icon showing travel from point a to point b |
|  sparkle-filled |  interface  |  3 spark

[2022-04-14 19:29] #105 closed

[2022-04-14 19:31] blackfalcon commented on #114
Duplicate https://github.com/AlaskaAirlines/Icons/issues/115

[2022-04-14 19:32] #114 closed

[2022-04-14 19:32] blackfalcon commented on #113
Duplicate https://github.com/AlaskaAirlines/Icons/issues/115

[2022-04-14 19:32] #113 closed

[2022-04-22 20:09] #115 closed

[2022-04-22 21:21] blackfalcon opened #118 "New sparkle-stroke icon contains flawed references"
## Describe the bug

The `sparkle-stroke.svg` file contains an illegal reference `mask="url(#path-1-inside-1_920_5084)"` that when run caused the Alaska Credit Card icon to fail.

## Expected behavior

All icons need to render correctly.

[2022-04-22 21:50] blackfalcon commented on #115
@KaylaBlyton1 there was an issue with the `sparkle-stroke` icon https://github.com/AlaskaAirlines/Icons/pull/119

Can you please create a new issue and submit a new export of the icon without the defect identified in the linked issue?

[2022-04-23 00:15] blackfalcon opened #120 "Import icon with unsafeSVG"
Add README docs for using an icon with [`unsafeSVG`](https://lit.dev/docs/templates/directives/#unsafesvg).

[code]

### Reference

https://github.com/AlaskaAirlines/auro-icon/issues/43

[2022-04-25 19:14] KaylaBlyton1 commented on #118
Here is a re-exported sparkle-stroke. I renamed one of the layers in hopes that it will help resolve the issue at hand.
![sparkle-stroke](https://user-images.githubusercontent.com/83242595/165158116-ac0b570d-2fb1-4934-8db4-38310fb80a31.svg)

[2022-04-25 23:14] blackfalcon commented on #118
@KaylaBlyton1 do you know what is creating a mask over the icon? I believe that is where the issue is coming from.

When I remove the code in the SVG that creates the mask over the image, I get the following. It's this mask that is causing the issue.

<img width="126" alt="Screen Shot 2022-04-25 at 4 13 55 PM" src="https://user-images.githubusercontent.com/181089/165189398-71ca53d5-17a7-4162-ab38-

[2022-04-25 23:45] blackfalcon commented on #120
README updated.

[2022-04-25 23:45] #120 closed

[2022-04-26 22:53] kaityama opened #121 "Add support for TypeScript"
**Is your feature request related to a problem? Please describe.**
Out of the box, icons are incompatible with TypeScript (TS). With some teams choosing to go the TS route when working with the open-wc generator, the developer experience could be improved by adding support for TS in all Auro icons.

**Describe the solution you'd like**
When importing an icon into my TS web component, I shouldn't g

[2022-04-27 17:03] kaityama commented on #121
I'm not sure what the best solution for this would be. But I was hoping there would be TypeScript support on the Icons end that we wouldn't need a `d.ts` file on our end.

[2022-04-27 17:10] geoffrich commented on #121
This will also provide better auto-complete for all users, not just those using TS. For example, I now get better suggestions in VSCode in a regular JS file.

![image](https://user-images.githubusercontent.com/4992896/165581705-701d1933-87ca-4997-957b-5e852770be09.png)

[2022-04-27 21:27] blackfalcon commented on #121
@geoffrich generating is not the issue. I did something similar with auro-input https://github.com/AlaskaAirlines/auro-input/compare/main...dsande/tsTypesSpike

The question that I can't seem to come to is; I can generate this and put it in the `./dist` dir, but then what? I can't seem to get a consistent answer on how this is consumed?

Does the IDE/project simply pick up this file reference? Is

[2022-04-28 18:31] geoffrich commented on #121
If I'm reading [the TS docs](https://www.typescriptlang.org/docs/handbook/declaration-files/dts-from-js.html#editing-the-packagejson) correctly, if we output the types in the `dist` directory everything should work.

We specify `"main": "dist/index.js",` in the `package.json`, so TS will infer that the types are located at `dist/index.d.ts`:

![image](https://user-images.githubusercontent.com/4992

[2022-04-29 00:00] #121 closed

[2022-04-29 00:02] AuroDesignSystem commented on #121
:tada: This issue has been resolved in version 4.12.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@alaskaairux/icons/v/4.12.0)
- [GitHub release](https://github.com/AlaskaAirlines/Icons/releases/tag/v4.12.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-29 19:55] blackfalcon commented on #118
This icon is proving to be a trick. This SVG is making use of a stroke and fill to create the shape. This is causing issues on how we process the icons for use. But looking at the star-stroke icon, this is just the shape, not stroke and fill. Can the sparkle-stroke be updated to be like the star?

<img width="678" alt="Screen Shot 2022-04-29 at 11 30 48 AM" src="https://user-images.githubuserconte

[2022-05-02 19:22] KaylaBlyton1 commented on #118
@blackfalcon Thank you for explaining! The star example was very helpful. I have flattened this icon into oblivion - it SHOULD work now.
![sparkle-stroke](https://user-images.githubusercontent.com/83242595/166311544-8a9305c5-601c-4d44-a60c-6ec482f37115.svg)

[2022-05-03 22:05] KaylaBlyton1 commented on #118
OK... 4th time is the charm?! @blackfalcon
![sparkle-stroke](https://user-images.githubusercontent.com/83242595/166573946-19ef7120-dfb4-40f0-abfc-c48555930309.svg)

[2022-05-04 18:18] KaylaBlyton1 commented on #118
@blackfalcon I reached out to June, but in the meantime I tried one more thing. Let me know if this works? Strokes are outlined, flattened, and I double checked and there are no masks in the layers.
![sparkle-stroke](https://user-images.githubusercontent.com/83242595/166800139-4c6f9fbf-2952-406d-a433-05ff0bc0d6a7.svg)

[2022-05-05 15:16] blackfalcon commented on #118
@KaylaBlyton1 WE HAVE A WINNER!

<img width="695" alt="Screen Shot 2022-05-05 at 8 16 14 AM" src="https://user-images.githubusercontent.com/181089/166955914-fb12c17e-8661-404d-8e3f-731b1463d37f.png">

Whatever was learned from this, can you work with @leeejune to be sure to document this?

[2022-05-05 15:38] #118 closed

[2022-06-16 22:00] KaylaBlyton1 opened #126 "Air Tahiti Nui (TN) Tail"
# Add new icon(s) to the library

| name | category | description |
|---|---|---|
|  |  |  |

## Icon art

- [x] Yes
- [ ] No

- [x] Yes
- [ ] No

- [x] Yes
- [ ] No

### Attach exported SVG files to this issue
![tail-TN](https://user-images.githubusercontent.com/83242595/174179162-152436cb-71fd-4c3c-a8d0-ee7347261a51.svg)

See the options below for attaching a file to this request.

[2022-06-16 22:02] blackfalcon commented on #126
@braven112 is this a candidate for educational dev?

[2022-06-18 00:01] braven112 commented on #106
The content marketing team already houses the logos and manages adding new partners.  Lets let them do both the logo and the tail and get our team off the hook on maintaining this.

[2022-06-18 00:47] MattSidor commented on #126
New logo added with PR #128

[2022-06-18 00:47] #126 closed

[2022-06-20 23:17] blackfalcon commented on #106
I see that this is queued up for Sprint 14. Is it that critical to prioritize this soon? Also, is there a plan as to where to move the tail icons? I wouldn't really consider this `ready to work` since there is no actual plan or exit criteria in this issue?

Keep in mind, that when we move these tails away from this repo, we will need to update `auro-icon` to remove the `category="logos"` property.

[2022-06-20 23:53] blackfalcon commented on #106
I am seeing that this issue has some weight on the conversation.

- https://github.com/AlaskaAirlines/Icons/issues/126

[2022-06-21 22:43] braven112 opened #129 "Pictograms"
**Is your feature request related to a problem? Please describe.**
Designers have a set of pictograms they use.  We currently have them in figma and on random pages on the site.
![image](https://user-images.githubusercontent.com/5118118/174908435-83e68009-dd52-4c4e-ae0b-8889ca9641d6.png)

**Describe the solution you'd like**
We should have a central repo for these similar to tails or icons where t

[2022-06-23 22:43] blackfalcon commented on #106
After discussion with multiple stakeholders, there is the desired direction for splitting Auro icons into two separate repos. All icons specifically will stay in this repo. All logos and tails will be moved to another repo.

This update will have an impact on the `auro-icon` element, see this issue

- https://github.com/AlaskaAirlines/auro-icon/issues/45

[2022-07-16 01:27] leeejune opened #131 "Add QR code icon"
QR code icon needed to be added to icon library.

- [ ] publish on Figma library
- [x] add to icons repo

QR code icon:
![qr-code](https://user-images.githubusercontent.com/55998746/179329273-0f828fbf-2a60-4e6d-9123-7f1b3f201054.svg)

[2022-07-25 15:40] #131 closed

[2022-07-26 23:33] KaylaBlyton1 opened #133 "Condor CFG (Updated) and Mokulele FDY Tail Art"
# Add new icon(s) to the library

| name | category | description |
|---|---|---|
|  |  |  |

## Icon art

- [x] Yes
- [ ] No

- [x] Yes
- [ ] No

- [x] Yes
- [ ] No

### Attach exported SVG files to this issue

![Condor_Updated](https://user-images.githubusercontent.com/83242595/181129748-ed93163a-a6f0-402c-ade4-6c21ae3b36c0.svg)
![Mokulele](https://user-images.githubusercontent.com/83242595/1811

[2022-07-26 23:33] KaylaBlyton1 commented on #133
@leeejune Submitted an issue here per our convo! :)

[2022-08-10 02:02] leeejune opened #134 "Apps team icons"
# Add new icon(s) to the library

| name | category | description |
|---|---|---|
| check-in | terminal | checkmark in pin icon |
| car-rental | destination | car with a key above |
| ride > | destination | bus |
| receipt | shop | receipt with placeholder content |
| phone | interface | mobile smart phone |
| settings | interface | gear |
| flight-pass | easybiz | pass with plane and 3 dots |

##

[2022-08-25 02:48] blackfalcon opened #137 "Remove aria-hidden attribute from icons"
## Is your feature request related to a problem? Please describe.

Due to an opinion that all icons are to be hidden from screen readers, it has come to our attention that this is not an opinion we should be enforcing.

## Describe the solution you'd like

Remove `aria-hidden="true"` attribute from all icons. This can be done by removing the following line of code:

https://github.com/AlaskaAirlin

[2022-08-26 03:33] blackfalcon commented on #133
Once released, the icon/tail sticker sheet needs to be updated.  See @blackfalcon for details.

[2022-08-31 15:07] blackfalcon opened #138 "CODEOWNERS"
# General Support Request

The repo is missing a CODEOWNERS file.

## Support request

Add CODEOWNERS file

[2022-08-31 15:28] #133 closed

[2022-08-31 23:38] #138 closed

[2022-09-01 17:54] #134 closed

[2022-09-15 22:54] KaylaBlyton1 opened #141 "Discrepancy between icon sizing in design vs development"
**Describe the bug**
In design, we call the icons, sm, md, lg. But when engineers go to size it, they are setting a customSize attribute using a design token of --auro-size-lg or whatever it may be. The discrepancy is that --auro-size-md = 16px which in design guidelines, is a small icon

**To Reproduce**
Steps to reproduce the behavior:
1. Design icon guidelines page: https://auro.alaskaair.com/i

[2022-09-16 14:53] blackfalcon commented on #141
With SVGs there is a baseline size, `24px` that is dictated in the file.

https://github.com/AlaskaAirlines/Icons/blob/c2e6ef41c8b64ea05f377956908eb6c482476b24/src/data/icons.json#L8-L9

SVGs are also flexible so engineers have the ability to change the size and color of the SVG. Auro cannot specifically dictate a size as this will limit its use.

The auro-icon element was designed to maintain the

[2022-10-07 23:59] KaylaBlyton1 opened #142 "Latam Tail Update (aligning with brand colors)"
# Add new icon(s) to the library

| name | category | description |
|---|---|---|
|  |  |  |

## Icon art
![LATAM](https://user-images.githubusercontent.com/83242595/194676653-f89ab5ef-9b4e-4b97-8556-4bfe0cc66999.svg)

- [x] Yes
- [ ] No

- [x] Yes
- [ ] No

- [x] Yes
- [ ] No

### Attach exported SVG files to this issue

See the options below for attaching a file to this request.

[2022-10-07 23:59] KaylaBlyton1 commented on #142
@leeejune Here is the updated tail art!

[2022-10-11 02:48] blackfalcon commented on #142
Is this a replacement of these two tails?

<img width="532" alt="Screen Shot 2022-10-10 at 7 48 05 PM" src="https://user-images.githubusercontent.com/181089/194985661-1b7d5139-760b-44c0-9263-41f800f2dbd9.png">

[2022-10-14 19:38] KaylaBlyton1 commented on #142
@blackfalcon @leeejune Sorry, Github is attached to my personal email so I forget to respond sometimes.

Yes! This is to replace the current LATAM tail.

[2022-10-14 19:50] KaylaBlyton1 commented on #141
@erikalanghauser Looping back around to this - can you point to where the issue is in production for @blackfalcon?

[2022-10-17 16:37] gusnaughton commented on #142
From the Alliances perspective - what timeframe are we looking at for adding this logo to the DS?

[2022-10-17 23:51] blackfalcon opened #143 "Update Husky to remove dependency on Node 12"
# General Support Request

The current setup using a legacy version of Husky requires Node 12 to run locally. This is causing issues with updating packages that no longer support Node 12.

## Support request

Update Husky to the latest version so that this repo can support current versions of Node.

## Exit criteria

When Huskey is updated and all other dependencies that have current security issu

[2022-10-18 00:01] blackfalcon commented on #142
@KaylaBlyton1 and @gusnaughton please see PR for status of update.

[2022-10-18 22:04] #142 closed

[2022-10-21 23:30] KaylaBlyton1 opened #146 "EL AL Logo"
# Add new icon(s) to the library

| name | category | description |
|---|---|---|
|El Al|Airline logo|El Al airline logo|

## Icon art

- [x] Yes
- [ ] No

- [x] Yes
- [ ] No

- [x] Yes
- [ ] No

### Attach exported SVG files to this issue
![EL-AL-Logo 1](https://user-images.githubusercontent.com/83242595/197304849-b6592ba5-6051-48cd-b8e0-438869b4b0f2.svg)

See the options below for attaching a fi

[2022-11-04 18:03] #146 closed

[2022-11-10 02:01] mikearche commented on #143
Hey @blackfalcon, I submitted a PR for upgrading a lot of the dependencies. This should resolve this issue. Let me know if there are any questions!

[2022-11-10 17:49] mikearche opened #149 "SVGO dependency outputs warning on install"
**Describe the bug**
When installing the dependency SVGO it outputs the warning :
`npm WARN deprecated stable@0.1.8: Modern JS already guarantees Array#sort() is a stable sort, so this library is deprecated. See the compatibility table on MDN: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort#browser_compatibility`

We can fix this by updating the SVGO ver

[2022-11-14 22:39] blackfalcon commented on #149
Assigned to @mikearche. Feel free to address this update once PR #148 has been addressed.

[2022-11-15 19:14] #111 closed

[2022-11-16 20:40] #149 closed

[2022-11-17 00:19] mikearche opened #152 "Commitlint is including commit url as part of the body length"
**Describe the bug**
Found a build failure with one of our attempted deployments today. For some reason the commit lint is erroring, because the build commit(?) is including the URL.

For example:
` **deps:** remove unnecessary package fs`
is fine
`* **deps:** remove unnecessary package fs ([89edb25](https://github.com/AlaskaAirlines/Icons/commit/89edb259242865a4430c280f6527586a1f8d004b))`
is not

[2022-11-17 00:26] mikearche opened #153 "Generate script does not work on Windows file systems"
**Describe the bug**
There are bugs as well as improvements to how we handle paths in our `buildDemo.js` file. I noticed upon running the generate script on my local windows machine that it was unable to locate _any_ of the files for generation.

**To Reproduce**
Steps to reproduce the behavior:
1. Use a windows file system
2. Run `npm run generate`
4. See error

**Expected behavior**
The way we h

[2022-11-17 00:26] mikearche commented on #152
I broke the build 😢.

[2022-11-21 21:30] #152 closed

[2022-11-21 23:22] blackfalcon commented on #153
The default answer, 99.9997% of all dev with Auro happens on non-Windows machines. https://auro.alaskaair.com/developer-setup/windows

But if you have a fix to submit, we'd love to see it.

[2022-11-22 23:16] josee-alaska opened #155 "Ride with Lyft"
# Add new icon(s) to the library

| name | category | description |
|---|---|---|
| lyft | partnership | Lyft icon |

## Icon art

- [x] Yes
- [ ] No

- [x] Yes
- [ ] No

- [ ] Yes
- [x] No

### Attach exported SVG files to this issue

![partner:lyft](https://user-images.githubusercontent.com/105021248/203439999-756bcb69-aa1c-48f9-bcb1-58c40e87a1be.svg)

See the options below for attaching a file

[2022-11-23 18:54] josee-alaska opened #157 "Flight details"
# Add new icon(s) to the library

| name | category | description |
|---|---|---|
| flight-details | terminal | Paragraph wireframe with an upper corner plane drawing |

## Icon art

- [x] Yes
- [ ] No

- [x] Yes
- [ ] No

- [ ] Yes
- [x] No

### Attach exported SVG files to this issue

![terminal:flight-details](https://user-images.githubusercontent.com/105021248/203625346-2b4721ec-159f-4d9f-af05

[2022-11-23 19:04] josee-alaska opened #158 "Departure arrow"
# Add new icon(s) to the library

| name | category | description |
|---|---|---|
| departure-stroke | terminal | An arrow pointed upwards and framed within a rectangle stroke |
| departure-filled | terminal | An arrow pointed upwards and contained within a filled rectangle |

## Icon art

- [x] Yes
- [ ] No

- [x] Yes
- [ ] No

- [ ] Yes
- [x] No

### Attach exported SVG files to this issue

![te

[2022-11-23 19:06] josee-alaska opened #159 "Arrival arrow"
# Add new icon(s) to the library

| name | category | description |
|---|---|---|
| arrival-stroke | terminal | An arrow pointed downwards and framed within a rectangle stroke |
| arrival-filled | terminal | An arrow pointed downwards and contained within a filled rectangle |

## Icon art

- [x] Yes
- [ ] No

- [x] Yes
- [ ] No

- [ ] Yes
- [x] No

### Attach exported SVG files to this issue

![te

[2022-11-23 19:22] josee-alaska opened #160 "Passenger details"
# Add new icon(s) to the library

| name | category | description |
|---|---|---|
| passenger | in-flight | Avatar within a circle stroke  |

## Icon art

- [x] Yes
- [ ] No

- [x] Yes
- [ ] No

- [ ] Yes
- [x] No

### Attach exported SVG files to this issue

![in-flight:passenger](https://user-images.githubusercontent.com/105021248/203629911-fbedc72f-f9a1-4875-abe0-fa4ded3d66b7.svg)

See the opti

[2022-11-23 20:26] #155 closed

[2022-11-23 23:57] josee-alaska opened #161 "Terminal and in-flight icons"
# Add new icon(s) to the library

| name | category | description |
|---|---|---|
| multipax | in-flight | Two avatars within a circle stroke |
| flight-details | terminal | Paragraph wireframe with an upper corner plane drawing |
| departure-stroke | terminal | An arrow pointed upwards and framed within a rectangle stroke |
| departure-filled | terminal | An arrow pointed upwards and contained wi

[2022-11-28 17:40] #157 closed

[2022-11-28 17:41] leeejune commented on #157
Closing the issue to gather all icons in one issue.

[2022-11-28 17:41] leeejune commented on #158
Closing the issue to gather all icons in one issue.

[2022-11-28 17:41] #158 closed

[2022-11-28 17:46] leeejune commented on #159
Closing the issue to gather all icons in one issue.

[2022-11-28 17:46] #159 closed

[2022-11-28 17:46] leeejune commented on #160
Closing the issue to gather all icons in one issue.

[2022-11-28 17:46] #160 closed

[2022-11-28 17:46] leeejune commented on #158
Closing the issue to gather all icons in one issue.

[2022-11-28 17:47] leeejune commented on #158
Closing the issue to gather all icons in one issue.

[2022-11-29 03:33] braven112 opened #163 "Youtube icon"
**Is your feature request related to a problem? Please describe.**
We need an icon for youtube

**Describe the solution you'd like**
an icon for youtube

**Describe alternatives you've considered**
not using auro

**Additional context**
Our footer has it but not our design system

[2022-11-29 03:34] braven112 opened #164 "Twitter Icon"
**Is your feature request related to a problem? Please describe.**
We need an icon for Twitter

**Describe the solution you'd like**
an icon for Twitter

**Describe alternatives you've considered**
not using auro

**Additional context**
Our footer has it but not our design system

[2022-11-29 04:02] mikearche commented on #164
We might not need this if we give it a few months 😂

[2022-11-29 04:59] braven112 commented on #164
I knew that was coming as I was writing this issue 🤣

[2022-11-30 00:41] blackfalcon opened #165 "All icons should have a default 'Alt' description"
## Is your feature request related to a problem? Please describe.

For accessibility reasons, SVGs should be updated to support a proper default position.

## Describe the solution you'd like

For properly accessible SVG files, we SHOULD have the following.

[code]

With research and testing, it is understood that `title` is the content that is shown via tool-tip in the UI and read aloud by screen

[2022-11-30 23:15] blackfalcon commented on #161
Just FYI... it makes this a lot easier if all the icons are named properly and in a ZIP attachment.